@model IEnumerable<Full_Stack_Gruppe_3.Models.Observation>

@{
    ViewData["Title"] = "Observations";
}



<h2>Observations</h2>


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="@Url.Action("Index", "Home")">
                            Værmelding
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Observation")">
                            Observasjoner
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</div>
    
<table class="table">
    <thead>
        <tr>
            <th>Element ID</th>
            <th>Value</th>
            <th>Date</th>
            <th>Time Offset</th>
            <th>Time Resolution</th>
            <th>Time Series ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var observation in Model)
        {
            <tr>
                <td>@observation.ElementId</td>
                <td>@observation.Value</td>
                <td>@observation.Date.ToString("yyyy-MM-dd")</td>
                <td>@observation.TimeOffset</td>
                <td>@observation.TimeResolution</td>
                <td>@observation.TimeSeriesId</td>
            </tr>
        }
    </tbody>
</table>
